{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <style>
        .page{
        max-width: 60%;
         margin: auto;
                  background-color:#f1f1f1;
         padding:10px;

        }
        .center{
        text-align: left;
        }
    </style>
</head>
<body>
<div class="page">
<!--<form id="mainform" method="post" action="">-->
<!--    {% csrf_token %}-->
  <h3>Question 10 of 10:</h3>
  <h4>Q10. Which festival is also known as “Festival of Lights”?</h4>
  <input type="radio" id="option1" name="answer" value="Holi">
  <label>Holi</label><br><br>
  <input type="radio" id="option2" name="answer" value="Dussehra">
  <label>Dussehra</label><br><br>
  <input type="radio" id="option3" name="answer" value="Janmashtami">
  <label>Janmashtami</label><br><br>
  <input type="radio" id="option4" name="answer" value="Diwali / Deepavali">
  <label>Diwali / Deepavali</label><br><br>
  <input type="submit" value="Submit Answer" onclick="displayRadioValue()"/><br>
<!--    <b style="color:blue;" id="selectedcolorname"></b>-->
<!--</form><br>-->
  <br> <div id="result"></div>
    <div class="center">
<!--    <button><a href="/questions">Start the Quiz</a></button>-->
   <br> <button id="bt1" onclick="location.href = '/result'">Get the Score></button>
        <div id="time" style="float:right">Timeout:</div>
</div>
    <script>
        function displayRadioValue() {
            if(option4.checked){
            var ele = document.getElementsByName('answer');
            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("result").innerHTML
                        = "Correct! <br><br> The Selected Answer is: "+ele[i].value;
            document.getElementById("bt1").style.visibility = "visible";
            }
            }
            else if(option2.checked){
            var ele = document.getElementsByName('answer');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("result").innerHTML
                        = "Not Correct! <br><br> Try again";
            document.getElementById("bt1").style.visibility = "hidden";
            }
            }
                        else if(option3.checked){
            var ele = document.getElementsByName('answer');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("result").innerHTML
                        = "Not Correct! <br><br> Try again";
            document.getElementById("bt1").style.visibility = "hidden";
            }
            }
                       else if(option1.checked){
            var ele = document.getElementsByName('answer');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("result").innerHTML
                        = "Not Correct! <br><br> Try again";
            document.getElementById("bt1").style.visibility = "hidden";
            }
            }
        }
    </script>
</div>
</body>
</html>
{% endblock content %}
